/*   color variables */
$clr-primary: #81d4fa;
$clr-primary-light: #e1f5fe;
$clr-primary-dark: #4fc3f7;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-unsuccess: #ffcdd2;
$clr-unsuccess-font: #c62828;
$clr-success: #c8e6c9;
$clr-success-font: #388e3c;
$clr-link: #2962ff;

/*   border radius */
$radius: 0.2rem;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tbl-ppdb {
    font-family: Mukta, sans-serif;
    height: 65vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color: $clr-gray500;
    font-size: 0.9rem;

}

table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px $clr-gray300;
    background-color: white;
    text-align: left;
    overflow: hidden;

    thead {
        box-shadow: 0 5px 10px $clr-gray300;
    }

    th {
        padding: 1rem 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 0.7rem;
        font-weight: 900;
    }

    td {
        padding: 1rem 2rem;
    }

    a {
        text-decoration: none;
        color: $clr-link;
    }

    .status {
        border-radius: $radius;
        background-color: red;
        padding: 0.2rem 1rem;
        text-align: center;

        &-success {
            background-color: $clr-success;
            color: $clr-success-font;
        }

        &-unsuccess {
            background-color: $clr-unsuccess;
            color: $clr-unsuccess-font;
        }
    }

    .amount {
        text-align: right;
    }

    //Color alternating rows
    tr:nth-child(even) {
        background-color: $clr-gray150;
    }
}
